<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1">

            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>课程</th>
            </tr>
            {% for teacher in teachers %}
                <tr>
                    <td>{{teacher.tname}}</td>
                    <td>{{teacher.tage}}</td>
                    <td>{{teacher.course.cname}}</td>
                </tr>
        </table>
</body>
</html>