<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.js"></script>
    <script src="../js/common.js"></script>
    <script>
        /* 使用ajax技术　加载所有的省份信息到selPro*/
        function loadPro() {
            var xhr = new XMLHttpRequest();
            /*表示同步请求 必须保证loadPro执行完毕后　才能进行其他操作*/
            xhr.open('get','/01-province',false);
            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status == 200){
                    var arr = JSON.parse(xhr.responseText)
                    var html='';
                    $.each(arr,function (i,obj) {
                        html += '<option value="'+obj.id+'">';
                        html += obj.proName;
                        html +='</option>';
                    })
                    $('#selPro').html(html);
                };
            };
            xhr.send(null)
        };



        function loadcity(pid) {
            var xhr = new XMLHttpRequest();

            xhr.open('get','/01-city?pid='+pid,true);
            xhr.onreadystatechange=function () {
                if(xhr.readyState == 4 && xhr.status == 200){
                    //拿过来的数据转换成json
                    var arr = JSON.parse(xhr.responseText)
                    var html = '';
                    $.each(arr,function (i,obj) {
                        html += '<option value="'+obj.id+'">'
                        html += obj.cityName;
                        html += '</option>'
                    })
                }
            }
            xhr.send(null)
        }
        
        $(function () {
            loadPro();

            /*加载对应身份的所有城市 但是因为异步　不用等待loadPro运行就可以运行导致没有值
            * 需要在ajax设置false*/
            loadcity($('#selPro').val())

            $('#selPro').change(function
                () {
                loadcity(this.value)
            })
        })


    </script>
</head>
<body>
    <h2>使用AJAX完成级联</h2>
    <select id="selPro"></select>
    <select id="selCity"></select>
</body>
</html>