<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="btnAjax()">发送post</button>
    <div id="show"></div>
    <script src="/static/js/common.js"></script>
    <script>
        function btnAjax(){
            //1.获取xhr
            var xhr = xhr();
            //2.创建请求-post
            xhr.open('post','/04-server',true)
            //3.设置回调函数
            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status == 200){
                    document.getElementById(show).innerHTML = xhr.responseText;
                }
            }
            //修改content-Type请求消息头
            xhr.setRequestHeader('Contene-Type','application/x-www-form-urlencoded')

            //发送请求　传递uname和age参数到服务器
            params = 'uname=wangwc&age=35'
            xhr.send(params);
        }
    </script>
</body>
</html>