<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>
                姓名
            </th>
            <th>
                年龄
            </th>
            <th>
                邮箱
            </th>
            <th>
                操作
            </th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="/04.update?uname={{user.username}}">修改</a>
                    <a href="#">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>